<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/library/people}" th:object="${person}">
    <label for="fullname">Введите ФИО:</label>
    <input type="text" th:field="*{fullname}" id="fullname"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">fullname error</div>
    <br/>
    <label for="year_of_birth">Укажите год рождения:</label>
    <input type="text" th:field="*{year_of_birth}" id="year_of_birth"/>
    <div style="color: crimson" th:if="${#fields.hasErrors('year_of_birth')}" th:errors="*{year_of_birth}">year_of_birth error</div>
    <br/>
    <input type="submit" value="Create!">
</form>
</body>
</html>